@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Poppins:wght@300&display=swap');



/* Estilos para pantallas grandes
@media screen and (min-width: 768px) {
  body {
    background: black;
    width: 100%;
    
    }
  }*/
  /* Agrega estilos específicos para pantallas mayores o iguales a 768px */

/* Estilos para pantallas pequeñas 
@media screen and (max-width: 767px) {
  font-size: 0.8em;*/
  /* Agrega estilos específicos para pantallas menores a 768px 
}*/







* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*#contenedor {
    width: 1350px;
    background: white;
    margin: 0 auto;
}*/
body {
   /* background-color: lightgray;*/
    background-color: rgb(72, 70, 70);
    font-family: "lato", sans-serif;
    color: white;
    width: 1200px;
    margin: 1em auto;
    /*border: 1px solid blue;*/
}
/*.content {
    border: 2px solid white;
}*/
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.1em;
}
p {
    font-size: .55em;
}
li {
    padding: .55em;
    margin: .1em;
}
.cabeza-galeria {
    text-justify: center;
    text-align: center;
    border-bottom: .2em solid rgb(1, 169, 157);
}
/*img {
    display: auto;
}*/
/* línea de separación entre 2 secciones o partes o divs o x.   Juegas con el grosor de la linea, el color y el margen para generar la separacion de elementos... */
hr.custom {
    height: .5em; /* Grosor de la línea */
    background-color: white; /* Color de la línea */
    border: none; /* Elimina el borde por defecto */
    /*margin: .2em; Margen superior e inferior para separar del contenido; pero afecta el lado derecho e izq de la linea blanca que puse*/
    margin-bottom: .2em;
}

/* Instruccion que afecta el boton de pag ppal que lleva a GALERIA*/
.article .btn {
    color: rgb(1, 169, 157);
    padding: .5em 1.1em;
    border: .1em;
    border-color: rgb(1, 169, 157);
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
}
.navbar {
    width: 100%;
    padding: .5em, 1.5em;
    margin: 0px auto;
    height: 10em;
    padding: 0;
    background-color: rgb(72, 70, 70);
}
.navbar .container img {
    width: 30%;
}
.navbar ul {
    display: flex;
    padding: .5em;
    margin: .5em 0 .5em 5em;
    list-style-type: none;
    justify-content: space-around;
    color: white;
    border-bottom: none;
}
.navbar a {
    color: white;
}
.navbar a:hover {
    color: rgb(1, 169, 157);
}
.amapolas .container img {
    width: 100%;
}
/*.content .article img {
    height: 15.1em;
}
.article {
    width: 30%;
}*/

/*Este flex es el que ontrola que concept-HALLO y la barra de navegación esten en su lugar*/
.navbar .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
/*footer .flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}*/
footer {
    background: rgb(182, 180, 180);
    text-align: center;


}
/* Footer... esta class pertenece al footer solamente  si pegas la etiqueta con la clase --sin espacios-- te refieres a esa*/
footer.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.2em;
    align-items: center;
    padding: .5em;
}

/*este es el footer de 04Contacto, porque le quitamos los iconos de instagram, facebook, etc y el espacio debía dividirse en 2, no 3*/

footer.grid-container-contacto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.2em;
  align-items: center;
  padding: .5em;
}
.article .btn a:hover {
  color: rgb(1, 169, 157);
}
/*Separamos los iconos de redes sociales entre ellos utilizando padding*/
.profiles a{
  padding: 0em .5em 0em .5em;
  color: rgb(1, 169, 157);
}
.profiles a:hover {
  color: white;
}
.clearfix {
  clear: both;
}
/*.grid-container h3,
.copyright p {
    margin: 0px 15px opx 15px;
}*/



/* Instrucciones para tratar de reconfigurar toda la pagina de Inicio para hacer un grid---------------- -------------------------------------------------------- --------------------------------------------------------- ----------------------------------------------*/


  /*display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(3, fr);
  grid-template-rows: repeat(2, 1fr);
}*/
.contenedor-index {
 /* display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);*/
  width: 1200px;
}
.contenedor-index-interno {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin-top: 10px;
}
/*header#header {
  grid-column-start: 1 4;
}*/
section#article1 .article img {
  max-height: 250px;
  width: auto;
  grid-column-start: 1 2;
}
section#article2 .article img {
  max-height: 250px;
  width: auto;
  grid-column-start: 2 3;
}
aside#sidebar .article {
  max-height: 250px;
  grid-column-start: 3 4;
  
}



/*Instrucciones de css para el html de 02 Acerca de...------------------ ----
---------------------------------------------------------------------
--------------------------------------------------------------------
-------------------------------------------------------------------*/
/*.exposicion {
    display: grid;
    float: left;
    width:75%;
    overflow: visible;
    grid-template-columns: 100%;
    position: top;
    top: 50px;
}*/

/*Esta instruccion afecta a la pagina 02Acerca---------------------*/
/*.grid-container-02 img{
    width: 32%;
    height: auto;
    justify-content: center;
    align-content: center;
}
.Acerca-de p {
  font-size: 20px;
}

.Acerca-de .strong {
  font-size: 30px;
  color: rgb(1, 169, 157);
}
img .chica {
  float: left;
  justify-content: center;
  align-content: center;
  display: flex;
}*/
/*img {
  float: left;
  justify-content: space-around;
  align-content: space-around;
  display:flex;
}*/
/*aside {
    float: left;
    width: 25%;
}
aside p {
    font-size: 1.22em;
}*/


/* ---- 02Acerca de, TRATANDO de hacer grid en TODA LA PAGINA----
-------------------------------------------------------------------
-----------------------------------------------------------------
----------------------------------------------------------------
------------------------------------------------------------------
--------------------------------------------------------------*/

 /*justify-content: flex-start;*/


body .exposicion,
footer .grid-container {
  display: grid;
  grid-template-columns: repeat(5, 230px);
  grid-auto-rows: minmax(4, auto);
  float: left;
  overflow: visible;
  position: top;
  grid-gap: .8em;
  justify-content: space-around;
  max-width: 1200px;
}
.exposicion {
  max-width: 1200px;
  margin: 0 auto;
}
aside p {
  font-size: .9em;
  padding: 5px;
}

.exposicion #foto01 {
  grid-column: 1 / 3;
  grid-row: 1;
  max-height: 250px;
  width: 100%;
  height: 100%;
}
.exposicion #foto06 {
  grid-column: 3 / 5;
  grid-row: 2 / 4;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  
 .exposicion #foto02 {
  grid-column: 3 / 5;
  grid-row: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.exposicion #foto03 {

  grid-column: 1;
  grid-row: 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
  
#foto04 {
  grid-column: 1;
  grid-row: 3;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  
  
.exposicion #foto05 {
  grid-column: 2;
  grid-row: 2 / 4;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.exposicion #foto07 {
  grid-column: 1;
  grid-row: 4;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.exposicion #foto08 {
  grid-column: 2;
  grid-row: 4;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.exposicion #foto09 {
  grid-column: 3;
  grid-row: 4;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.exposicion #foto10 {
  max-height: 100%;
  max-width: 100%;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
}
.exposicion .Acerca-de {
  max-width: 250px;
  grid-column: 5;
  grid-row: 1 / 5;
  object-fit: cover;
}
.Acerca-de .strong {
  font-size: 30px;
  color: rgb(1, 169, 157);
}
.foto img {
  height: 240px;
  width: 100%;
}

.foto-chica img {
  height: 100%;
  width: 230px;
}

/*Instrucc para que no se ponga NADA del lado derecho o izq del elemento clase=exposicion, porque yo le puse clase= .clearfix; y el maestro lo llama .clear*/
.exposicion .clearfix {
  clear: both;
}

/*Instrucciones de CSS para el html de 03 Galería...----------------------
----------------------------------------------------------------------
----------------------------------------------------------------------
----------------------------- */
/*.productos {/*
    width: 350px;
    height: 350px;
    align-items: center;
}*/
.productos img {
    width: 100%;
    height: auto;
    overflow: visible;
    /*display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    top: 50px;
    bottom:200px;
    /*justify-content: center;
    align-items: center;*/
}


/*esta instruccion afecta la pag 03Galeria--------------------*/
.contenedor-03Galeria .grid-container-03 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /*grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);*/
    gap: .8em;
    justify-content: space-around;
    /*align-items: center;*/
}
/*.productos {
    border-bottom: 15px;
}*/
.contenedor-03Galeria .descripcion img {
    width: 100%;
    height: auto;
    overflow: visible;
}


.contenedor-03Galeria .botoncito {
  display: flex;
  width: 100%;
  margin: 20px 20px;
  justify-content: center;
  align-content: center;
  color: rgb(1, 169, 157);
}
.contenedor-03Galeria .botoncito button#cargarMasContenido {
  color: rgb(1, 169, 157);
  padding: 2px 10px 2px 10px;
  cursor: pointer;
}
.producto-descipcion {
  /*justify-content: center;
  align-content: center;*/
  text-align: center;
}
.producto-descipcion button {
  background-color: #777372;
  color: #fff;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.producto-descipcion button:hover {
  background-color: rgb(1, 169, 157);
}



/*--------Aqui, este ejemplo, repercutía en el boton directamente, p sea que si ponía el width al 100% de boton, , el boton era el que se alargaba al total del tamaño de la sección o se reducía----- TOTAL afectaba la imagen del boton

.contenedor-03Galeria .botoncito button#cargarMasContenido {
  display: flex;
  width: 20%;
  margin: 20px 20px;
  justify-content: center;
  align-content: center;
}*/






/*.descripcion .grid-container {
    display: grid;*/
    /*grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    justify-content: center;
    align-items: center;
}*/
/*Para 04Contacto*/
.izquierda,
.derecha,
.botones {
    list-style-type: none;
}

#Formulario-Contenedor {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    /*background-color: white;*/
}
/*OJO OJO OJO OJO-------------------------------------------------------------*/
 
/*.izquierda {
    float: left;
    clear: left;
  }
   
  .derecha {
    float: right;
    clear: right;
  }
   
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
   
  #contenedor {
    background: #FFF;
    border: 1px solid silver;
    margin: 1em auto;
    padding: 1em;
    width: 768px;
  }
   
  span.requerido {
    font-size: 1.3em;
    font-weight: bold;
    color: #C00;
  }
   
  h2 {
    font: normal 2em arial, sans-serif;
    margin: 0;
  }
   
  ul li.botones {
    border-top: 2px solid #CCC;
    clear: both;
    float: none;
    padding: 1em 0;
    margin-top: 1em;
    text-align: right;
    width: 100%;
  }
   
  ul li.botones input {
    font-size: 1.3em;
  }
   
  ul li {
    margin: 0.5em 0;
    padding: 0.5em;
    width: 46%;
  }
   
  ul li label.titulo {
    font-weight: bold;
  }
   
  ul li div span {
    float: left;
    padding: 0.3em 0;
  }
   
  ul li div span.completo {
    width: 100%;
  }
   
  ul li div span.mitad {
    width: 50%;
  }
   
  ul li div span.tercio {
    width: 33%;
  }
   
  ul li div span.dostercios {
    width: 66%;
  }
   
  ul li div span label {
    display: block;
    font: normal 0.8em arial, sans-serif;
    color: #333;
  }
   
  ul li p.ayuda {
    display: none;
  }
   
  ul li input {
    padding: 0.2em;
  }
   
  input#apellido1, input#apellido2, input#direccion, input#email {
    width: 260px;
  }
  */
  input#nombre,
  input#apellido1 {
    width: 300px;
    border-radius: 3px;
  }
  input#codigopostal {
    width: 202px;
    border-radius: 3px;
    margin-top: 10px
  }
  select#pais {
    width: 262px;
    border-radius: 3px;
    margin-top: 10px
  }
  input#email {
    width: 249px;
    border-radius: 3px;
    margin-top: 10px
  }
  


  /*
  input#codigopostal {
    width: 80px;
  }
   
  select#provincia {
    width: 90px;
  }
   
  select#pais {
    width: 150px;
  }
   
  input#telefonofijo, input#telefonomovil {
    width: 135px;
  }
   
  /* Cambiar el color en el :hover y resaltar los campos en el :focus*/
  /*li:hover {
    background-color: #FF9;
  }
  
  ul li.botones:hover {
    background-color: transparent;
  }
   
  input:focus {
    border: 2px solid #E6B700;
  }*/
   
  /* Formatear el formulario a una columna */
  /*ul li.izquierda, ul li.derecha {
    float: none;
    width: auto;
  }
   
  ul li {
    overflow: hidden;
  }
   
  ul li label.titulo {
    float: left;
    width: 150px;
  }
   
  ul li div {
    margin-left: 160px;
  }*/



   
  /* Aspecto final del formulario con los mensajes de ayuda */
  h2 {
    margin-bottom: 0.3em;
    padding: 0 .8em 0 .8em;
  }
   
  .formulario-texto ul li {
    /*border-top: 1px solid #CCC;*/
    margin: 0;
    padding: 1em;
  }
   
  ul li.botones {
    margin: 0;
  }

   
  /*ul li label.titulo {
    text-align: right;
    width: 100px;
  }*/
   
  /*ul li div {
    margin-left: 110px;
    overflow: hidden;
  }*/
   
  ul li {
    position: relative;
  }
  .formulario-texto {
    border: .2em solid rgb(179, 177, 177);
    border-radius: .5em;
    margin: .25em;
    background-color: rgb(179, 177, 177);
  }














  .contacto-texto {
    /*border: 5px solid green;*/
    border-radius: .5em;
    margin: .5em;
    text-align: center;
  }
  .completo label,
  .tercio label,
  .dostercios label {
    padding: 0 .5em 0 0;
  }
  .encabezado {
    text-align: center;
    border-bottom: .2em solid rgb(1, 169, 157);
    margin: .5em;
  }
  #alta {
    color: rgb(1, 169, 157);
    padding: 2px 10px 2px 3px;
    cursor: pointer;
  }
  

   
  /*ul li:hover p.ayuda {
    display: block;
    margin: 0.3em;
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
  }*/

  /* 05 Carrito de compras---------------------------- pero vamos a poner
  un video para el ejercicio de la clase Front Fundamentals*/

.video {
    display: flex;
    justify-content: space-around;
}
